<!DOCTYPE HTML>
<html>
<head>
    <title>getSummonerId HBS Test Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lib/style.css">
</head>
<body>
    <h1>Info about your Summoner Id </h1>
    <div>
		<h2>Information about your summoner id</h2>
		<button type="button" class="btn btn-primary" id="btn-search">back</button>
	</div>
    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <!--custom js 추가-->
    <script src="/js/app/getSummonerId.js"></script>
    <script src="/js/app/stylejs.js"></script>
</body>
</html>
